<div class="d-flex justify-content-between w-100">
  <div>
    <h1 class="ps-8" mat-dialog-title>Login to your account</h1>
  </div>
  <div class="text-right">
    <button mat-button mat-dialog-close class="border-0 bg-transparent mt-4 pt-3 me-2">
      <i class="fa-solid fa-xmark fa-2xl"></i>
    </button>
  </div>
</div>
<mat-dialog-content class="overflow-hidden">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <div class="col-12 form-floating mb-4 email">
        <input type="email" class="w-100" formControlName="email" placeholder="Email" />
        <button type="button" disabled><img src="../../../../../assets/images/person-circle.svg" alt="person-circle"></button>
        <span *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)" class="text-danger">
          {{ getErrorMessage('email', 'Email address') }}
        </span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 form-floating mb-4 password">
        <input [type]="show ? 'text' : 'password'" class="w-100" formControlName="password" placeholder="Password" />
        <button type="button" (click)="pwdShowHide()">
          <mat-icon>{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <span *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)" class="text-danger">
          {{ getErrorMessage('password', 'Password') }}
        </span>
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-info rounded-pill text-white text-center fs-3 col-12 mb-5 py-3 submitBtn" mat-button [disabled]="loginForm.invalid">Login</button>
  </form>
  <p class="text-center">
    <a class="signup" mat-button mat-dialog-close (click)="openForgetPassword()">Forgot Password?</a>
  </p>
  <p class="text-center">
    Don't have an account?
    <a class="signup" mat-button mat-dialog-close (click)="openSignup()">Create an account</a>
  </p>
</mat-dialog-content>
@if (loading) {
  <app-loader />
}