<div class="d-flex headermain">
    <div class="logoimg">
        <img src="../assets/logo1.png" alt="Helperland">
    </div>
    <div class="mt-5 navbarlinks">
        <div class="d-flex mt-2 justify-content-end innerlinks">
            <div class="mx-4">
                <button class="btn btn-lg">Book Now</button>
            </div>
            <div class="mx-4 pt-2">
                <a href="#" class="fs-3 ">Prices & Services</a>
            </div>
            <div class="mx-4 pt-2">
                <a href="#" class="fs-3 ">Warranty</a>
            </div>
            <div class="mx-4 pt-2">
                <a href="#" class="fs-3 ">Blog</a>
            </div>
            <div class="mx-4 pt-2">
                <a href="#" class="fs-3 ">Contact</a>
            </div>
            <div class="mx-4">
                <button class="btn btn-lg" mat-button (click)="openLogin()">Login</button>
            </div>
            <div class="mx-4">
                <button class="btn btn-lg" mat-button (click)="openSignup()">Become a Helper!</button>
            </div>
        </div>
    </div>
</div>