@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css";

.headermain{
    background: dimgray !important;
}

.navbarlinks{
    right: 0;
    width: 100%;
}

.logoimg img{
    margin: 1.5rem;
    height: 5rem;
    width: 5rem;
}

.innerlinks a{
    text-decoration: none;
    color: white;
}
.innerlinks button{
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.notify{
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding-left: 15px;
    padding-right: 15px;
}

.profile{
    padding-right: 50px;
}

.profilePopup{
    position: absolute;
    background: #b5b3b3;
    width: 10vw;
    right: 0;
    z-index: 5;
}

.profilePopup a{
    text-decoration: none;
    color: black;
}

.profilePopup li{
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
}

a:hover{
    text-decoration: none !important;
}

.menuBtn{
    background: dimgray;
    border: none;
    color: white;
}

.sideBtn{
    border: none !important;
}