<div class="d-flex justify-content-between w-100">
    <div class="ps-5">
      <h1 class="text-center ms-5" mat-dialog-title>Forgot Password</h1>
    </div>
    <div class="text-right">
      <button mat-button mat-dialog-close class="border-0 bg-transparent mt-4 pt-3 me-2">
        <i class="fa-solid fa-xmark fa-2xl"></i>
      </button>
    </div>
</div>
<mat-dialog-content class="overflow-hidden">
    <form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="col-12 form-floating mb-4">
          <input type="email" class="w-100" formControlName="email" placeholder="Email" />
          <span *ngIf="forgotPassForm.get('email').invalid && (forgotPassForm.get('email').dirty || forgotPassForm.get('email').touched)" class="text-danger">
            {{ getErrorMessage('email') }}
          </span>
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-info rounded-pill text-white text-center fs-3 col-12 mb-5 py-3 submitBtn" mat-button mat-dialog-close [disabled]="forgotPassForm.invalid">Send</button>
    </form>
    <p class="text-center">
      <a class="login" mat-button mat-dialog-close (click)="openLogin()">Login Now</a>
    </p>
</mat-dialog-content>