<div class="d-flex justify-content-between w-100">
  <div>
    <h1 class="ps-16" mat-dialog-title>Register as Helper!</h1>
  </div>
  <div class="text-right">
    <button mat-button mat-dialog-close class="border-0 bg-transparent mt-4 pt-3 me-2">
      <i class="fa-solid fa-xmark fa-2xl"></i>
    </button>
  </div>
</div>
<mat-dialog-content class="overflow-hidden">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="row mb-4">
          <div class="col-12 form-floating">
            <input type="text" maxlength="25" class="w-100" formControlName="firstName" placeholder="First Name" />
            <span *ngIf="signupForm.get('firstName').invalid && (signupForm.get('firstName').dirty || signupForm.get('firstName').touched)" class="text-danger">
              {{ getErrorMessage('firstName', 'Firstname') }}
            </span>
          </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 form-floating">
              <input type="text" maxlength="25" class="w-100" formControlName="lastName" placeholder="Last Name" />
              <span *ngIf="signupForm.get('lastName').invalid && (signupForm.get('lastName').dirty || signupForm.get('lastName').touched)" class="text-danger">
                {{ getErrorMessage('lastName', 'Lastname') }}
              </span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 form-floating">
              <input type="email" class="w-100" formControlName="email" placeholder="Email Address" />
              <span *ngIf="signupForm.get('email').invalid && (signupForm.get('email').dirty || signupForm.get('email').touched)" class="text-danger">
                {{ getErrorMessage('email', 'Email address') }}
              </span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 form-floating">
              <button type="button" disabled>+91</button>
              <input type="text" maxlength="10" class="w-87" formControlName="contact" placeholder="Mobile Number" />
              <span *ngIf="signupForm.get('contact').invalid && (signupForm.get('contact').dirty || signupForm.get('contact').touched)" class="text-danger">
                {{ getErrorMessage('contact', 'Contact number') }}
                @if (contactTooltip == true) {
                  <mat-icon class="pt-1" matTooltip="Contact number must contain 10 digits & can't contain any other character than digit.">help</mat-icon>
                }
              </span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 form-floating password">
              <input [type]="show ? 'text' : 'password'" class="w-100" formControlName="password" placeholder="Password" />
              <button type="button" (click)="pwdShowHide()">
                <mat-icon>{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <span *ngIf="signupForm.get('password').invalid && (signupForm.get('password').dirty || signupForm.get('password').touched)" class="text-danger">
                {{ getErrorMessage('password', 'Password') }}
                @if (passwordTooltip == true) {
                  <mat-icon class="pt-1" matTooltip="Password must contain at least 1 capital letter, 1 small letter, 1 number and one special character. Password length must be in between 6 to 14 characters.">help</mat-icon>
                }
              </span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 form-floating">
              <input type="password" class="w-100" formControlName="confirmPassword" placeholder="Confirm Passsword" />
              <span *ngIf="signupForm.get('confirmPassword').invalid && (signupForm.get('confirmPassword').dirty || signupForm.get('confirmPassword').touched)" class="text-danger">
                {{ getErrorMessage('confirmPassword', 'Confirm Password') }}
              </span>
              <span *ngIf="signupForm.hasError('passwordsMatch') && signupForm.get('confirmPassword').valid" class="text-danger">
                Passwords do not match
              </span>
            </div>
        </div>
        <input type="hidden" class="w-100" formControlName="roleId" placeholder="Role Id" />
        <mat-checkbox formControlName="privacyPolicy">I accept <a [routerLink]="['terms&conditions']" routerLinkActive="active" mat-dialog-close>terms and conditions</a> & <a [routerLink]="['privacypolicy']" routerLinkActive="active" mat-dialog-close>privacy policy</a>.</mat-checkbox>
        <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="btn btn-lg btn-info rounded-pill text-white text-center fs-3 col-12 mb-5 py-3 submitBtn" mat-button [disabled]="signupForm.invalid">Getting started <i class="fa-solid fa-arrow-right ms-1"></i></button>
        </div>
    </form>
</mat-dialog-content>
@if (loading) {
  <app-loader />
}