<div class="d-flex justify-content-between w-100">
  <div>
    <h1 class="ps-17" mat-dialog-title>Create an account</h1>
  </div>
  <div class="text-right">
    <button mat-button mat-dialog-close class="border-0 bg-transparent mt-4 pt-3 me-2">
      <i class="fa-solid fa-xmark fa-2xl"></i>
    </button>
  </div>
</div>
<mat-dialog-content>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="col-6 form-floating mb-4">
          <input type="text" class="w-100" formControlName="firstName" placeholder="First Name" />
          <span *ngIf="signupForm.get('firstName').invalid && (signupForm.get('firstName').dirty || signupForm.get('firstName').touched)" class="text-danger">
            {{ getErrorMessage('firstName') }}
          </span>
        </div>
        <div class="col-6 form-floating mb-4">
          <input type="text" class="w-100" formControlName="lastName" placeholder="Last Name" />
          <span *ngIf="signupForm.get('lastName').invalid && (signupForm.get('lastName').dirty || signupForm.get('lastName').touched)" class="text-danger">
            {{ getErrorMessage('lastName') }}
          </span>
        </div>
      </div>
      <div class="row mb-3">
          <div class="col-6 form-floating mb-4">
            <input type="email" class="w-100" formControlName="email" placeholder="Email Address" />
            <span *ngIf="signupForm.get('email').invalid && (signupForm.get('email').dirty || signupForm.get('email').touched)" class="text-danger">
              {{ getErrorMessage('email') }}
            </span>
          </div>
          <div class="col-6 form-floating mb-4">
            <button type="button" disabled>+91</button>
            <input type="text" class="w-80" formControlName="contact" placeholder="Mobile Number" />
            <span *ngIf="signupForm.get('contact').invalid && (signupForm.get('contact').dirty || signupForm.get('contact').touched)" class="text-danger contactError">
              {{ getErrorMessage('contact') }}
            </span>
          </div>
      </div>
      <div class="row mb-3">
          <div class="col-6 form-floating mb-4">
              <input type="password" class="w-100" formControlName="password" placeholder="Password" />
              <span *ngIf="signupForm.get('password').invalid && (signupForm.get('password').dirty || signupForm.get('password').touched)" class="text-danger">
                {{ getErrorMessage('password') }}
              </span>
          </div>
          <div class="col-6 form-floating mb-4">
              <input type="password" class="w-100" formControlName="confirmPassword" placeholder="Confirm Passsword" />
              <span *ngIf="signupForm.get('confirmPassword').invalid && (signupForm.get('confirmPassword').dirty || signupForm.get('confirmPassword').touched)" class="text-danger">
                {{ getErrorMessage('confirmPassword') }}
              </span>
              <span *ngIf="signupForm.hasError('passwordsMatch')" class="text-danger">
                Passwords do not match
              </span>
          </div>
      </div>
      <input type="hidden" class="w-100" formControlName="roleId" placeholder="Role Id" />
      <mat-checkbox formControlName="privacyPolicy">I have read the <a [routerLink]="['privacypolicy']" routerLinkActive="active" mat-dialog-close>privacy policy</a>.</mat-checkbox>
      <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-lg btn-info rounded-pill text-white text-center fs-3 col-12 mb-5 py-3 submitBtn" mat-button cdkFocusInitial mat-dialog-close [disabled]="signupForm.invalid">Register</button>
      </div>
    </form>
    <p class="text-center">
      Already registered?
      <a class="text-decoration-none" mat-button (click)="openLogin()" mat-dialog-close>Login now</a>
    </p>
</mat-dialog-content>