<form #resetpassForm="ngForm" class="container mt-5" (submit)="onSubmit()">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="mb-3">
                <span>Password</span>
                <input type="password" name="Password" class="form-control" [(ngModel)]="resetObject.Password" placeholder="Password" required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,14}$">
                <div *ngIf="resetpassForm.controls['Password']?.invalid && (resetpassForm.controls['Password'].dirty || resetpassForm.controls['Password'].touched)" class="text-danger">
                    <div *ngIf="resetpassForm.controls['Password'].errors?.['required']">Password is required</div>
                    <div *ngIf="resetpassForm.controls['Password'].errors?.['pattern']">Invalid Password <mat-icon class="pt-1" matTooltip="Password must contain at least 1 capital letter, 1 small letter, 1 number and one special character. Password length must be between 6 to 14 characters.">help</mat-icon></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="mb-3">
                <span>Confirm Password</span>
                <input type="password" name="ConfPassword" class="form-control" [(ngModel)]="resetObject.ConfPassword" placeholder="Confirm Password" required>
                <div *ngIf="resetpassForm.controls['ConfPassword']?.invalid && (resetpassForm.controls['ConfPassword'].dirty || resetpassForm.controls['ConfPassword'].touched)" class="text-danger">
                    <div *ngIf="resetpassForm.controls['ConfPassword'].errors?.['required']">
                        Confirm Password is required
                    </div>
                </div>
                <div *ngIf="resetObject.ConfPassword !== resetObject.Password && resetpassForm.controls['ConfPassword'].valid" class="text-danger">
                    Password and Confirm Password must match
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 justify-content-center">
        <div class="col-md-6 text-center">
            <input type="hidden" name="Email" [(ngModel)]="resetObject.Email">
            <button type="submit" class="btn btn-info rounded-pill text-white text-center fs-3 col-6 mb-5 py-3 submitBtn" [disabled]="!resetpassForm.form.valid">Save</button>
        </div>
    </div>
</form>
@if (loading) {
    <app-loader />
}