<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Payment Summary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table class="table table-borderless">
            <tbody>
              <tr>
                <td>Duration</td>
                <td></td>
              </tr>
              <tr>
                <td>Basic</td>
                <td>0 Hrs</td>
              </tr>
              <tr>
                <td>Total Service Time</td>
                <td>3 Hrs</td>
              </tr>
              <tr>
                <td>Per Cleaning</td>
                <td>0,00 &#8364;</td>
              </tr>
              <tr>
                <td>Total Payment</td>
                <td>0,00 &#8364;</td>
              </tr>
            </tbody>
          </table>
    </mat-card-content>
  </mat-card>