<div class="d-flex justify-content-between w-100">
  <div class="ps-4">
    <h1 class="text-center ms-5" mat-dialog-title>Login to your account</h1>
  </div>
  <div class="text-right">
    <button mat-button mat-dialog-close class="border-0 bg-transparent mt-4 pt-3 me-2">
      <i class="fa-solid fa-xmark fa-2xl"></i>
    </button>
  </div>
</div>
<mat-dialog-content class="overflow-hidden">
  <form #loginForm="ngForm" (submit)="onSubmit()">
    <div class="row mb-3">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-floating mb-4 email">
        <input type="email" class="w-100" cdkFocusInitial [(ngModel)]="loginObject.Email" name="Email" placeholder="Email" required email />
        <button><img src="../assets/images/person-circle.svg" alt="person-circle"></button>
        <div *ngIf="loginForm.controls['Email'].invalid && (loginForm.controls['Email'].dirty || loginForm.controls['Email'].touched)" class="text-danger">
          <div *ngIf="loginForm.controls['Email'].errors?.['required']">Email is required</div>
          <div *ngIf="loginForm.controls['Email'].errors?.['email']">Invalid email format</div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-floating mb-4 password">
        <input [type]="password" class="w-100" [(ngModel)]="loginObject.Password" name="Password" id="password" placeholder="Password" required />
        <button type="button" (click)="pwdShowHide()">
          <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
          <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
        </button>
        <div *ngIf="loginForm.controls['Password'].invalid && (loginForm.controls['Password'].dirty || loginForm.controls['Password'].touched)" class="text-danger">
          <div *ngIf="loginForm.controls['Password'].errors?.['required']">Password is required</div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-info rounded-pill text-white text-center fs-3 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5 py-3 submitBtn" mat-button mat-dialog-close [disabled]="loginForm.invalid">Login</button>
    <p class="text-center">
      <a class="signup" mat-button mat-dialog-close (click)="openForgetPassword()">Forgot Password?</a>
    </p>
    <p class="text-center">
      Don't have an account?
      <a class="signup" mat-button mat-dialog-close (click)="openSignup()">Create an account</a>
    </p>
  </form>
</mat-dialog-content>