/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.profileMenu{
    background: dimgray !important;
    color: white !important;
}

.profileMenu .mat-mdc-menu-item .mat-mdc-menu-submenu-icon{
    color: white !important;
    margin-top: 0.5rem;
}

.disabledInput .mdc-text-field--outlined {
    background-color: #f5f5f5;
    color: #999;
    cursor: not-allowed;
    border: 1px solid #ccc;
    pointer-events: none;
}