.dashboard h1{
    font-size: 5rem !important;
}

.leftSidebar{
    color: white;
}

.leftSidebar li{
    list-style-type: none;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #1f7b8d;
}

.active{
    background: #006a80 !important;
}

.blueBtn{
    background-color: #006a80;
    color: white;
}