<div class="dashboard">
    <app-header />
    <div class="d-flex align-items-center justify-content-center py-5">
        <h1>Welcome, {{name}}</h1>
    </div>
    <div class="d-flex flex-column flex-md-row align-items-center mainContent">
        <div class="ms-4 leftSidebar">
            <ul>
                <li class="p-3 pe-5" [routerLink]="['home']" routerLinkActive="active"><button class="border-0 bg-transparent">Dashboard</button></li>
                <mat-divider></mat-divider>
                <li class="p-3 pe-5" [routerLink]="['servicehistory']" routerLinkActive="active"><button class="border-0 bg-transparent">Service History</button></li>
                <mat-divider></mat-divider>
                <li class="p-3 pe-5" [routerLink]="['serviceschedule']" routerLinkActive="active"><button class="border-0 bg-transparent" >Service Schedule</button></li>
                <mat-divider></mat-divider>
                <li class="p-3 pe-5" [routerLink]="['favourites']" routerLinkActive="active"><button class="border-0 bg-transparent" >Favorite Pros</button></li>
                <mat-divider></mat-divider>
                <li class="p-3 pe-5" [routerLink]="['invoices']" routerLinkActive="active"><button class="border-0 bg-transparent" >Invoices</button></li>
                <mat-divider></mat-divider>
                <li class="p-3 pe-5" [routerLink]="['notifications']" routerLinkActive="active"><button class="border-0 bg-transparent">Notifications</button></li>
            </ul>
        </div>
        <div class="flex-grow-1 rightSidebar">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>