<form [formGroup]="changePasswordForm" class="overflow-hidden">
    <div class="row mx-3 mb-3 mt-4">
        <div class="col-4 form-floating">
            <span class="mb-5">Old Password</span>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Old Password</mat-label>
                <input type="password" matInput formControlName="oldPassword">
            </mat-form-field>
            <span *ngIf="changePasswordForm.get('oldPassword').invalid && (changePasswordForm.get('oldPassword').dirty || changePasswordForm.get('oldPassword').touched)" class="text-danger">
                {{ getErrorMessage('oldPassword', 'Old Password') }}
            </span>
        </div>
    </div>
    <div class="row mx-3 mb-3 mt-4">
        <div class="col-4 form-floating">
            <span class="mb-5">New Password</span>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>New Password</mat-label>
                <input [type]="show ? 'text' : 'password'" matInput formControlName="newPassword">
                <button type="button" (click)="pwdShowHide()" class="me-4 eyeBtn" matSuffix>
                    <mat-icon>{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <span *ngIf="changePasswordForm.get('newPassword').invalid && (changePasswordForm.get('newPassword').dirty || changePasswordForm.get('newPassword').touched)" class="text-danger">
                {{ getErrorMessage('newPassword', 'New Password') }}
                @if (passwordTooltip == true) {
                  <mat-icon class="pt-1" matTooltip="Password must contain at least 1 capital letter, 1 small letter, 1 number and one special character. Password length must be in between 6 to 14 characters.">help</mat-icon>
                }
            </span>
        </div>
    </div>
    <div class="row mx-3 mb-3 mt-4">
        <div class="col-4 form-floating">
            <span class="mb-5">Confirm Password</span>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Confirm Password</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="confirmPassword">
                <button type="button" (click)="confPwdShowHide()" class="me-4 eyeBtn" matSuffix>
                    <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </button>
            </mat-form-field>
            <span *ngIf="changePasswordForm.get('confirmPassword').invalid && (changePasswordForm.get('confirmPassword').dirty || changePasswordForm.get('confirmPassword').touched)" class="text-danger">
                {{ getErrorMessage('confirmPassword', 'Confirm Password') }}
            </span>
        </div>
    </div>
    <button type="button" (click)="onSubmit()" class="btn btn-lg rounded-pill border-0 shadow-none blueBtn mx-4 p-3 px-5" [disabled]="changePasswordForm.invalid">Save</button>
</form>
@if (loading) {
    <app-loader />
}