.blueBtn{
    background-color: #006a80;
    color: white;
}

.blueBtn:disabled{
    background-color: #828282;
    border: none;
    color: #1e1e1e;
}

.eyeBtn{
    background-color: inherit;
    padding-right: 3px;
    border: 0;
}

.eyeBtn:hover{
    cursor: pointer;
}